*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
}

.card{
    width: 60vw;
    height: 85vh;
    margin: auto;
    background-color: #FFFFFF;
    margin-top: 50px;
}

header{ 
    background-color: #FFD900;
    padding: 10px 0;
    width: 100%;
}

header img{
    margin-left: 10px;
}

.section-information{
    display: flex;
    gap: 30px;
    font-size: 10px;
}

.section-information-text{
    background-color: #514988;
    width: 50%;
    padding: 30px;
    text-align: center;
    flex: 1;
}

.section-countdown{
    width: 48%;
}
.text-title{
    color: #F3C61F;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.text-subtitle{
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 15px;
}

p{
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF; 
}

.countdown{
    display: flex;
    flex-direction: column;
}

.time{
    font-size: 25px;
    color: #514988;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.countdown-subtitle{
    color: #E33881;
    margin-bottom: 20px;
    
}

.countdown video{
    width: 97%;
}

#aviso{
    font-size: 14px;
    color: #F3C61F;
    padding: 20px 0 20px 50px;
}

.section-confirmation{
    display: flex;
    align-items: center;
    
}
.cards img{
    width: 100px;
    
}

.cards{
    margin-left: 50px;
}

.btn-information{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #514988;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 25px 60px;
    margin-left: 40px;
    cursor: pointer;
    
}

.btn-information:hover{
    color: #F3C61F;
}

.card-highlight{
    box-shadow: 5px 5px 5px 5px rgb(197, 195, 195);
}