*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{ 
    padding: 15px 0;
    background-color: #F3C61F;
    padding-left: 5px;
    width: 1005;

}

.section-information{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50vw;
    margin-top: 5px;
    margin-left: -15px;

}

.section-information-text{
    text-align: center;
    background-color: #514988;
    margin: 0;
    color: white;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 32px;
    padding-bottom: 15px;
    height: 400px;

}

p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}
.text-title{
    margin: 5px;
    color: #FFD900;
    font-size: 50px;
    margin-top: 1px;
}

.text-subtitle{
    margin-top: 20px;
    font-size: 20px;
}

.card{
    color: #514988;
    font-size: 38px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.cards img{
    width: 204px;
}

.section-countdown{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: white;
    margin-right: -15px;
}

.time{
    font-size: 25px;
    color: #514988;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.countdown-subtitle{
    background-color: white;
    color: #E33881;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-right: -15px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    
}

#aviso{
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 150px;
    color: #FFD900;
    padding: 20px;
    margin-left: 35px;
    font-size: 20px;
}

.btn-information{
    background-color: #514988;
    border-radius: 20px;
    color: white;
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 25px 10px;
    margin-left: 1100px;
    cursor: pointer;
    grid-auto-flow: column;
    margin-top: -500rem;
    margin-bottom: 15px;
    
}

.btn-information:hover{
    color: #F3C61F;
}

.card-highlight{
    box-shadow: 5px 5px 5px 5px rgb(197, 195, 195);
}

.card-selected{
    border: 5px solid green;
}








